/* Mantén la estructura básica */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Mantener un margen general para las secciones */
section {
    margin: 20px;
}

/* Remarcar palabras clave */
.remarcar-palabra {
    color: #8B0000; /* Rojo oscuro */
    font-weight: bold;
}

/* Frase para agregar condimentos */
.agregar-nombres-condimentos {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-left: 15%; /* Ajusta el margen izquierdo */
    text-align: left; /* Alineación izquierda */
}

/* Opciones de color, organizadas horizontalmente */
.alinear-opciones-etiquetas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;  /* Ajuste del espacio entre checkbox, texto y color picker */
    margin-bottom: 10px;
}

/* Estilo estándar para los selectores de color */
input[type="color"] {
    width: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
}

/* Contenedor de las opciones de color del especiero y las etiquetas */
section.color-options-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Ajusta el ancho de las opciones */
section.color-options-container .color-option {
    width: 300px;
}

/* Contenedor de frascos en línea con Flexbox */
section.frascos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Estilo del canvas */
canvas {
    border: 1px solid #FFF; /* Borde blanco alrededor */
    display: block;
    margin: 0 auto;
    height: 160px;
    width: 900px;
}

/* Estilos para las instrucciones y el botón */
.instrucciones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre las instrucciones y el botón */
    margin-top: 20px;
}

.instrucciones-titulo {
    font-size: 24px;
    font-weight: bold;
    color: #8B0000;
}

.instrucciones-texto {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
}

/* Estilo del botón de imprimir */
button {
    background-color: #8B0000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a32e39;
}

/* --- Estilos para pantallas pequeñas (responsive) --- */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 24px; /* Texto más pequeño para pantallas pequeñas */
    }

    .color-options-container, .frascos-container {
        flex-direction: column; /* Coloca las opciones una debajo de la otra */
        gap: 10px;
    }

    .frasco {
        width: 90%; /* Ocuparán el 90% del ancho de la pantalla */
        margin: 0 auto; /* Centra los frascos */
    }

    .instrucciones-container {
        flex-direction: column; /* Coloca las instrucciones y el botón uno debajo del otro */
        gap: 10px;
    }

    button {
        width: 100%; /* El botón ocupará todo el ancho disponible */
    }
}

/* Estilos para pantallas grandes (escritorio) */
@media only screen and (min-width: 768px) {
    .color-options-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .frascos-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}















